.Tab-UI-Dad{
    display: flex;
    width: 500px;
    height:40px;
    background-color: antiquewhite;
}
.Tab-UI{
    width: 25%;
    font-size: 18px;
    text-align: center;
    padding-top: 8.5px;
    padding-left: 10px;
    display: flex;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
.Tab-Content{
    width: 500px;
}
.Tab-Icon{
    margin-top:1.5px;
    padding-right: 8px;
}
.Tab-text{
    margin-left: 8px;
}
.Tab-UI:hover{
    background-color: rgb(248, 214, 170);
    border-bottom: 3px solid gray;
}
.Tab-UI.active{
    background-color: rgb(248, 214, 170);
    border-bottom: 3px solid gray;
    color: black;
}
.tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }